@use './help' as *;

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*----------------Header---------------------*/

.header {
    width: 100%;
    min-height: 70px;
    background-color: rgba($color: $text-color, $alpha: .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__container {
        width: 100%;
        max-width: 1260px;
        margin: 0 auto;
    }

    &__row {
        @include flex (space-between, center, row);
        height: 100%;
    }

    &__logo {
        margin-top: 18px;
        margin-right: 104px;
    }

    &__nav {
        flex: 1 1 auto;
        margin-top: 28px;
    }

    &__network {
        margin-left: 151px;
        margin-top: 28px;
    }
}

.logo {
    font-family: $font-scriptin;
    color: $white;
    font-size: 30px;
    line-height: 1.714rem;
    text-align: left;
    letter-spacing: 9px;
}

.nav {
    @include flex (space-between, center, row);

    &__item {
        display: block;
        text-decoration: none;
        color: $white;
        font-family: $font-regular;
        font-size: 1rem;
        line-height: 1.714rem;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 4.2px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.network {

    &__item {
        text-decoration: none;
        font-size: 1rem;
        color: #efebe4;
        margin-right: 28px;
    }

    &__item--last {
        margin-right: 0;
    }
}


/*----------------MAIN-------------------*/

.main {
    flex: 1 1 auto;

}

/*------------------Intro-----------------*/

.intro {
    width: 100%;
    min-height: 900px;
    background: url("../img/header/header_bg_img.jpg");
    @include background-img;
}

.intro {

    &__container {
        width: 100%;
        max-width: 1260px;
        margin: 0 auto;
    }

    &__title {
        text-shadow: 0 1px 0 #3d3029;
        color: $white;
        font-family: $font-maintitle;
        font-size: 6.574rem;
        line-height: 1.714rem;
        text-align: center;
        letter-spacing: 6.9px;
        padding-top: 278px;

        &::after {
            content: url("../img/header/dashed_line.png");
            display: block;
            width: 190px;
            height: 9px;
            margin: 0 auto;
            margin-top: 104px;
        }
    }

    &__text {
        margin: 0 auto;
        margin-top: 80px;
        width: 547px;
        text-align: center;
        text-shadow: 0 1px 0 #3d3029;
        color: $white;
        font-family: $font-text;
        font-size: 1.714rem;
        line-height: 1.5;
        letter-spacing: .171rem;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 69px;
        width: 200px;
        height: 50px;
        border: 1px dashed #9e9c93;
        background-color: rgba($color: $text-color, $alpha: .6);
        color: $white;
        font-family: $font-bold;
        font-size: 1rem;
        line-height: 1.714rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .3rem;
        transition: all .2s;

        &:hover {
            background-color: rgba($color: $text-color, $alpha: .8);
        }
    }
}

/*------------------Art-----------------*/

.art {
    margin-top: 10px;
    background: url("../img/art/art-background.png");
    @include background-img;

    &__container {
        @include flex(space-between, center, row);
        padding-top: 105px;
        padding-bottom: 120px;
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
    }

    &__description {
        flex: 0 1 485px;
    }

    &__block-header {
        margin-bottom: 70px;
    }

    &__txt {
        margin-bottom: 45px;
        color: $text-color;
        font-family: $font-text;
        font-size: 1rem;
        line-height: 1.714rem;
        text-align: center;
        letter-spacing: .1rem;
    }

    &__position {
        color: $text-color;
        font-family: $font-bold;
        font-size: 1.714rem;
        line-height: 2.143rem;
        text-align: center;
        letter-spacing: .043rem;
    }

    &__chef {
        margin-top: 49px;
    }

    &__quote {
        position: relative;
        max-width: 410px;
        max-height: 95px;
        margin: 0 auto;
        margin-top: 45px;
        color: #a47d5e;
        font-family: $font-scriptin;
        font-size: 1.714rem;
        line-height: 2.143rem;
        text-align: center;
        letter-spacing: .043rem;

        &::before {
            content: '\201C';
            position: absolute;
            top: -20px;
            left: 0;
            opacity: 0.5;
            color: $text-color;
            font-family: $font-scriptin;
            font-size: 4.286rem;
            text-align: left;
            letter-spacing: .107rem;
        }

        &::after {
            content: '\201C';
            transform: scale(-1, 1);
            position: absolute;
            right: 0;
            bottom: -25px;
            opacity: 0.5;
            color: $text-color;
            font-family: $font-scriptin;
            font-size: 4.286rem;
            text-align: left;
            letter-spacing: .107rem;
        }
    }

    &__img {}
}

.clip {
    position: relative;


    &__border {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -55%);
    }

    &__bred {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -55%);
        background-color: $white;
        border-radius: 50%;
        padding: 13px;
    }
}

.block-header {

    &__title {
        font-family: $font-bold;
        font-size: 3.428rem;
        text-align: center;
        color: $text-color;
        letter-spacing: .0857rem;
    }

    &__subtitile {
        font-family: $font-bold;
        font-size: 1rem;
        line-height: 2.143rem;
        text-align: center;
        color: #a47d5e;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
}

.chef {
    @include flex(center, center, row);
    gap: 25px;

    &__first-name,
    &__last-name {
        color: $text-color;
        font-family: $font-regular;
        font-size: 1.714rem;
        line-height: 2.143rem;
        text-align: center;
        letter-spacing: .043rem;

        &::before {
            content: '';
            display: block;
            margin-bottom: 21px;
            width: 111px;
            height: 1px;
            background-color: #d7d5ca;
        }

        &::after {
            content: '';
            display: block;
            margin-top: 19px;
            width: 111px;
            height: 1px;
            background-color: #d7d5ca;
        }
    }

    &__avatar {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.img-block {
    position: relative;
    flex: 0 1 610px;
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    gap: 20px;

    &__label {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .95;
    }

    &__label-text {
        @include position-center();
        max-width: 156px;
        color: #c9b176;
        font-family: $font-regular;
        font-size: 2.143rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .107rem;
    }

    &__item {
        display: block;
        outline: 5px solid #ffffff;
        outline-offset: -10px;
    }
}

/*------------------Dish-----------------*/

.dish {
    position: relative;
    border-top: 1px solid transparent;
    min-height: 760px;
    width: 100%;
    background: url("../img/dish/background.png");
    @include background-img;

    &__card {
        @include flex(space-between, center, row);
        width: 965px;
        height: 512px;
        margin: 0 auto;
        margin-top: 140px;
    }

    &__img {
        position: relative;
        flex: 0 1 420px;
        overflow: hidden;
    }

    &__photo {
        display: block;

    }

    &__triangle {
        position: absolute;
        left: -1px;
        bottom: -1px;
    }

    &__stars {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__star {}

    &__star--empty {}

    &__description {
        position: relative;
        flex: 0 1 545px;
        padding: 80px 85px 41px 63px;
        height: 100%;
        background-color: $white;
        background-image: url('../img/dish/descr-background.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto;
    }

    &__block-header {}

    &__block-header-title {
        font-family: $font-bold;
        font-size: 3.428rem;
        text-align: left;
        color: $text-color;
        letter-spacing: .0857rem;
    }

    &__block-header-subtitile {
        font-family: $font-bold;
        font-size: 1rem;
        line-height: 2.143;
        text-align: left;
        color: #a47d5e;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    &__txt {
        margin-top: 70px;
        color: $text-color;
        font-family: $font-text;
        font-size: 1rem;
        line-height: 1.714;
        text-align: left;
        letter-spacing: .1rem;
    }

    &__slider {}

    &__menu {}

    &__menu-img {}

    &__label {
        position: absolute;
    }

    &__label-title {}

    &__label-time {}

    &__label-min {}
}

.block-header {

    &__title {}

    &__subtitile {}
}

.slider {

    &__left-arrow {}

    &__item {}

    &__right-arrow {}
}